body
    background: 
    
    #login
        background: rgb(34,165,135)
        form
            input
                &::placeholder
                    color: #000

            a
                color: #fff

                &:hover
                    text-decoration: underline

a#fg-login-btn
    border: 1px solid
    border-radius: 5px
    color: #000
    padding: 10px
    text-transform: uppercase

    &:hover
        background: rgba(0, 0, 0, 0.8)
        color: #fff