#register {
  background: #2D3E50;
  color: #fff;
}

#register input[type="text"] {
  background: #000;
  color: #ffffff;
  padding: 5px;
}

#register #submit-btn {
  border: 1px solid #000000;
  border-radius: 10px;
}

