.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* Fashion Garden Landing Page CSS */

.section-header {
  font-size: 3em;
  font-weight: bold;
}

.des {
  padding-bottom: 4em;
}

nav.desktop {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  padding: 5px 1.5em 5px 1.5em;
  z-index: 100;
}

nav.desktop .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  white-space: nowrap;
}

nav.desktop img.logo {
  height: 100%;
  width: auto;
}

nav.desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0px 0px 0px 30px;
}

nav.desktop ul li a {
  display: block;
  color: #fff;
  padding: 10px 20px 10px 20px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

nav.desktop ul li a:hover {
  text-decoration: underline;
}

nav.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #218282;
  color: #fff;
  font-size: 1.5em;
  padding: 0.3em;
}

nav.mobile .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px;
}

header #fg-landing {
  height: 100vh;
  padding: 2em 15px 2em 15px;
}

header #story-link {
  border: 2px dashed #fff;
  color: #fff;
  padding: 0.5em;
  -webkit-transition: background 1s;
  transition: background 1s;
}

header #story-link:hover {
  background: rgba(0, 0, 0, 0.7);
}

header .landing-btn {
  border: 1px solid #218282;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

header .landing-btn#fg-get-app {
  background: #43a9b6;
}

header .landing-btn#fg-sign-in {
  background: #218282;
}

#sec-1 {
  background: #f7f7f7;
  padding: 5em 0 5em 0;
}

#sec-1 .object {
  border-left: 4px solid #000;
  background: #fff;
  padding: 20px !important;
  margin: 0 10px 10px 10px;
}

#sec-1 .object h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}

#sec-2 {
  padding: 5em 0 5em 0;
}

#sec-2 #description-2 h4 {
  background: #dbdcd1;
  padding: 5px 0px 5px 20px;
  border: 3px solid #44515c;
  border-radius: 25px;
}

#sec-2 #description-2 p {
  color: #000;
  padding: 0px 0px 0px 20px;
  margin-bottom: 1em;
}

#sec-2 .tab-contents {
  padding: 30px;
}

#sec-2 .tab-contents .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec-2 .tab-contents .tab-content p {
  margin-bottom: 1em;
}

#sec-2 .tab-contents .tab-content img {
  max-height: 300px;
}

#sec-3 {
  padding: 5em 0 5em 0;
}

#sec-3 .download {
  display: inline-block;
  background: #44515c;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  font-weight: semi-bold;
  margin: 20px 0px 0px 20px;
  padding: 10px;
}

#sec-3 .download span {
  margin-left: 20px;
}

footer {
  background: #303030;
  color: #fff;
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
}

@media only screen and (min-width: 768px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer ul li {
    padding: 0px 15px 0px 0px;
  }
}

footer ul a {
  color: #fff;
}

footer ul a:hover {
  color: black;
}

footer .fg-footer-header {
  color: #fc3a3a;
  font-size: 1.5em;
}

