body #login {
  background: #22a587;
}

body #login form input::-webkit-input-placeholder {
  color: #000;
}

body #login form input:-ms-input-placeholder {
  color: #000;
}

body #login form input::-ms-input-placeholder {
  color: #000;
}

body #login form input::placeholder {
  color: #000;
}

body #login form a {
  color: #fff;
}

body #login form a:hover {
  text-decoration: underline;
}

a#fg-login-btn {
  border: 1px solid;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  text-transform: uppercase;
}

a#fg-login-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

