#tablet-down-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.1em;
  background: #36465D;
  color: #fff;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

#tablet-down-nav #left {
  padding: 0.4em;
  color: #fff;
}

#tablet-down-nav #left:hover {
  background: #333;
}

#tablet-down-nav #middle {
  height: 2.1em;
  line-height: 2.1em;
}

#tablet-down-nav #middle input {
  height: 2.1em;
  line-height: 2.1em;
  padding-left: 8px;
  background: #ddd;
  border: 0;
  font-weight: bold;
}

#tablet-down-nav #middle input:focus {
  background: #fff;
  font-weight: normal;
}

#tablet-down-nav #right {
  padding: 0.4em;
}

#tablet-down-nav #right:hover {
  background: #495e7d;
  color: #000;
}

#tablet-down-nav #right a {
  color: #fff;
}

#tablet-down-nav #right a:hover {
  background: #495e7d;
}

#tablet-down-nav-expand {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 2.1em;
  background: #36465D;
}

#tablet-down-nav-expand .tablet-down-nav-items a {
  display: block;
  padding: 0.1em 0.4em;
  border-bottom: 1px solid #757575;
  color: #fff;
}

#tablet-down-nav-expand .tablet-down-nav-items a:hover {
  background: #232e3d;
}

#tablet-down-nav-expand .tablet-down-nav-items a span {
  padding-left: 15px;
}

#tablet-down-nav-expand #close-expand-btn {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 2em;
  color: #fff;
}

