nav#timeline-nav {
  background: #218282;
  color: #fff;
  padding: 1em;
}

.timeline-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline-nav-wrapper a {
  color: #ffffff;
}

.timeline-nav-wrapper a:hover {
  color: #333333;
}

.timeline-nav-wrapper .timeline-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

