// Todo: Hiển thị danh sách từ dtb

<template>
    <div>
        <b>Bộ trang phục sử dụng</b>
        <br>
        <br>
        <div class="slide-container">
            <div class="box slide-item">
                <a class="item-name" href="">Trang phục 1</a>
                <figure class="image"><img src="https://via.placeholder.com/150x150" alt=""></figure>
            </div>
            <div class="box slide-item">
                <a class="item-name" href="">Trang phục 2</a>
                <figure class="image"><img src="https://via.placeholder.com/150x150" alt=""></figure>
            </div>
            <div class="box slide-item">
                <a class="item-name" href="">Trang phục 3</a>
                <figure class="image"><img src="https://via.placeholder.com/150x150" alt=""></figure>
            </div>
            <div class="box slide-item">
                <a class="item-name" href="">Trang phục 4</a>
                <figure class="image"><img src="https://via.placeholder.com/150x150" alt=""></figure>
            </div>
            <div class="box slide-item">
                <a class="item-name" href="">Trang phục 5</a>
                <figure class="image"><img src="https://via.placeholder.com/150x150" alt=""></figure>
            </div>
        </div>
        
        <a class="slide-prev">&#10094;</a>
        <a class="slide-next">&#10095;</a>
    </div>
</template>

<style lang="sass" scoped>
    .slide-container
        display: flex
        
    .item-name
        color: #218282

        &:hover
            color: #333333

    .slide-prev, .slide-next
        display: none
        border: 1px solid red
        border-radius: 25%
</style>


<script>
    export default {
        methods: {}
    }
</script>