@import rsslides

/* Fashion Garden Landing Page CSS */

.section-header
    font-size: 3em
    font-weight: bold

.des
    padding-bottom: 4em

nav
    &.desktop
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: space-between
        width: 100%
        color: #fff
        font-size: 1.5em
        padding: 5px 1.5em 5px 1.5em
        z-index: 100

        .home
            display: flex
            align-items: center
            font-weight: bold
            white-space: nowrap // important
        
        img.logo
            height: 100%
            width: auto

        #menu-list

        ul
            display: flex
            flex-wrap: wrap
            width: 100%
            padding: 0px 0px 0px 30px
            li

                a
                    display: block
                    color: #fff
                    padding: 10px 20px 10px 20px
                    transition: background 1s

                    &:hover
                        text-decoration: underline

    &.mobile
        display: flex
        justify-content: space-between
        align-items: center
        background: #218282
        color: #fff
        font-size: 1.5em
        padding: 0.3em

        .home
            display: flex
            align-items: center

        .bars
            


        
    
header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    background: rgba(0,0,0,0.5)
    color: #ffffff
    padding: 10px

    .header-des
        

    #fg-landing
        height: 100vh
        padding: 2em 15px 2em 15px
            
    #story-link
        border: 2px dashed #fff
        color: #fff
        padding: 0.5em
        transition: background 1s

        &:hover
            background: rgba(0,0,0,0.7)

    .landing-btn
        border: 1px solid #218282
        border-radius: 15px
        color: #fff
        font-size: 1.2em
        font-weight: bold
        padding: 10px 20px 10px 20px

        &#fg-get-app
            background: #43a9b6

        &#fg-sign-in
            background: #218282

#content
    

#sec-1
    background: #f7f7f7
    padding: 5em 0 5em 0


    .object
        border-left: 4px solid #000
        background: #fff
        padding: 20px !important
        margin: 0 10px 10px 10px


        h3
            font-size: 1.3em
            font-weight: bold
            margin-bottom: 1em

#sec-2
    padding: 5em 0 5em 0

    #description-2
        h4
            background: #dbdcd1
            padding: 5px 0px 5px 20px
            border: 3px solid #44515c
            border-radius: 25px
        p
            color: #000
            padding: 0px 0px 0px 20px
            margin-bottom: 1em

    .tab-contents
        padding: 30px

        .tab-content
            display: flex
            flex-direction: column
            align-items: center

            p
                margin-bottom: 1em

            img
                max-height: 300px

#sec-3
    padding: 5em 0 5em 0

    .download
        display: inline-block
        background: #44515c
        border: 1px solid #000
        border-radius: 5px
        color: #fff
        font-size: 1.5em
        font-weight: semi-bold
        margin: 20px 0px 0px 20px
        padding: 10px

        span
            margin-left: 20px

footer
    background: #303030
    color: #fff
    margin-top: 30px
    padding: 20px 0px 20px 0px

    ul
        @media only screen and (min-width: 768px)
            display: flex

            li
                padding: 0px 15px 0px 0px

        a
            color: #fff

            &:hover
                color: darken(#000, 25%)

    .fg-footer-header
        color: #fc3a3a
        font-size: 1.5em