.payment
    background: #2D3E50
    color: #fff
    padding: 30px 30px 30px 30px
    height: 100vh

    @media only screen and (max-width: 767px)
        padding: 10px 15px 10px 15px

    input
        background: transparent
        border: 0
        border-bottom: 1px solid #fff
        color: #fff
        padding: 10px 0px 10px 0px

    #pay-btn
        background: transparent
        border: 1px solid #fff
        color: #fff
        padding: 10px 15px 10px 15px
        transition: background 1s, color 1s

        &:hover
            background: #fff
            color: #2D3E50