<template>
<div>
    <div class="columns">
        <div class="column is-one-quarter">
            <p>Password</p>
        </div>
        <div class="column">
            <p><b>********</b></p>
            <input type="password" placeholder="Current password:">
            <br>
            <input type="password" placeholder="New password">
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                isChanging: false,    
            }
            
        },
        methods: {
            editPwdBtnClicked() {
                this.isChanging = !this.isChanging;
            }
        }
    }
</script>