#tablet-down-nav
  display: flex
  flex-wrap: none
  justify-content: space-between
  height: 2.1em
  background: #36465D
  color: #fff
  font-size: 1.3em
  padding: 0
  margin: 0
  
  #left
    padding: 0.4em
    color: #fff
    
    &:hover
      background: #333
    
  #middle
    height: 2.1em
    line-height: 2.1em
    
    input
      height: 2.1em
      line-height: 2.1em
      padding-left: 8px
      background: #ddd
      border: 0
      font-weight: bold
        
      &:focus
        background: #fff
        font-weight: normal
  #right
    padding: 0.4em
    
    &:hover
      background: lighten(#36465D, 10%)
      color: #000

    a
      color: #fff

      &:hover
        background: lighten(#36465D, 10%)

#tablet-down-nav-expand
  width: 0
  height: 100%
  position: fixed
  top: 0
  left: 0
  overflow-x: hidden
  padding-top: 2.1em
  background: #36465D
  
  .tablet-down-nav-items
    a
      display: block
      padding: 0.1em 0.4em
      border-bottom: 1px solid #757575
      color: #fff
      
      &:hover
        background: darken(#36465D, 10%)
      
      span
        padding-left: 15px
  
  #close-expand-btn
    position: absolute
    top: 0
    right: 1em
    font-size: 2em
    color: #fff