<template>
    <div>
        <p class="ad-headline">Có thể bạn sẽ thích</p>
        <div class="ad-content-wrapper">
            <div class="columns">
            <div class="column">
                <h3 class="title is-4">{{ adName }}</h3>
                <p class="subtitle is-6">{{ adDescription }}</p>
                <button class="see-more-btn" :click="hide">Xem thêm</button>
            </div>
            <div class="column">
                <figure class="image"><img :src="imageUrl" :alt="adName"></figure>
            </div>
        </div>
        </div>
        
    </div>
</template>

<style lang="sass" scoped>
    .ad-headline
        //border-bottom: 2px solid #000
        padding: 1em
        border-radius: 15px
        background: #f2f2f2
        font-weight: bold
        text-transform: uppercase

    .ad-content-wrapper
        padding: 1em 1em 2em 1em

    .see-more-btn
        background: transparent
        border: 1px solid #000
        border-radius: 10px
        padding: 0.5em
        font-weight: bold
        text-transform: uppercase

        &:hover
            background: #333333
            color: #fff
            
</style>

<script>
export default {
    props: {
        adName: String,
        adDescription: String,
        imageUrl: String
    },
    methods: {
        hide: function () {
            //document.querySelector
        }
    }
}
</script>


