<template>
    <div>
        <div class="post-type-choser">
            <button class="post-type"><span class="icon"><i class="fas fa-file-alt"></i></span><span>Bài viết</span></button>
            <button class="post-type"><span class="icon"><i class="fas fa-images"></i></span><span>Bộ trang phục</span></button>
            <button class="post-type"><span class="icon"><i class="fas fa-video"></i></span><span>Video</span></button>
        </div>
        
        <textarea cols="5" rows="6"></textarea>
        <a class="submit-btn">Đăng</a>
    </div>
</template>

<style lang="sass" scoped>
    .post-type-choser
        display: flex
        background: #f2f2f2
        border: none
        border-radius: 15px

    .post-type
        display: inline-block
        padding: 0.5em
        border: 0
        font-size: 1em
        font-weight: bold

        &:hover
            background: #218282
            color: #fff
            
    textarea
        display: block
        border: 0
        border-radius: 15px
        background: #f2f2f2
        min-height: 200px
        max-width: 100%
        font-size: 1em
        width: 100%
        padding: 1em
        margin: 1em 0 0.5em 0

        &:focus
            border: 3px solid #000
            
    .submit-btn
        display: inline-block
        background: #333333
        color: #fff
        border: 1px solid #000
        border-radius: 15px
        font-weight: bold
        padding: 0.5em
        text-align: center
        width: 100%
        &:hover
            background: #218282
            color: #fff
</style>

<script>
    export default {
        props: {
            currentText: String
        },
        methods: {
            clearAllText() {
                currentText = null
            }
        }
    }
</script>