// Todo: Thay đổi thuộc tính

<template>
    <div class="box">
        <div class="usr-info">
            <figure class="image is-48x48">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png" />
            </figure>
            <b class="name">{{ usrName }}</b>
        </div>

        <p class="content">{{ content }}</p>

        <div class="btn-wrapper">
            <span class="icon btn" @click="enjoyBtnClicked"><i class="fas fa-plus"></i></span>
            <span class="icon btn"><i class="far fa-comment"></i></span>
            <span class="icon btn"><i class="fas fa-share" @click="shareBtnClicked"></i></span>
        </div>

        <div class="interactions">
            <b>{{ enjoysCountX }} yêu thích, {{ sharesCountX }} chia sẻ</b>
        </div>
    </div>
</template>

<style lang="sass" scoped>
    .usr-info
        display: flex
        align-items: center
    
    .name
        padding-left: 10px

    .content
        margin-top: 0.7em

    .btn-wrapper
        display: flex
        justify-content: space-between
        margin: 1.3em 0 1.3em 0

        .btn
            margin: auto
            padding: 1em
            width: 100%

            &:hover
                background: #218282
                color: #fff


</style>

<script>
export default {
    props: {
        usrName: String,
        content: String,
        enjoysCount: Number,
        sharesCount: Number,
    },
    computed: {
        enjoysCountX: function() {
            return this.enjoysCount
        },
        sharesCountX: function() {
            return this.sharesCount
        }
    },
    data: function () {
        return {
            isEnjoyed: false,
            isShared: false
        }
    },
    methods: {
        enjoyBtnClicked: function () {
            if (this.isEnjoyed) {
                !this.isEnjoyed
                this.enjoysCountX ++
            }
            else {
                !this.isEnjoyed
                this.enjoysCountX --
            }
        },
        shareBtnClicked: function () {
            isShared ? sharesCount -- : sharesCount ++
        }
    }
}
</script>
