nav#timeline-nav
    background: #218282
    color: #fff
    padding: 1em

.timeline-nav-wrapper
    display: flex
    justify-content: space-between

    a
        color: #ffffff

        &:hover
            color: #333333

    .timeline-nav-right
        display: flex